#layout-sample,
#layout-sample div
  background-color rgba(255,255,255,.2)
  border 1px solid white
  padding 2rem

#layout-sample
  .border-box
    background-color white

  h4
    text-transform none